:root{
    --base-color: #d4a2a6;
    --primary-color: #453031;
    --secondary-color: #dbbcbf;
}

@font-face {
    font-family: 'recoleta';
    src: url("fonts/Recoleta-RegularDEMO.otf");
}

@font-face {
    font-family: 'cooper';
    src: url(fonts/Cooper\ Md\ BT\ Medium.ttf);
}

@font-face {
    font-family: 'recoleta';
    font-style: bold;
    src: url(fonts/recoleta-bold.otf);
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: absolute;
    /* took from a parallex video! C: */
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: auto;
    background-image: url("assets/background-img.png");
}

nav {
    position: sticky;
    z-index: 1000;
    top: 0;
    height: auto;
    background-color: var(--base-color);
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    opacity: 88%;
    margin-top: -30px;
    margin-bottom: -105px;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 1.5em;
}

nav li{
    font-family:'cooper','Times New Roman', Times, serif;
    font-style: bold;
    color: var(--primary-color);
    font-size: 3rem;
    list-style-type: none;
    margin-left: 1em;
    margin-bottom: .15em;
    margin-top: .15em;
    text-shadow: 1px 1px 1px black;
}

nav li:hover {
    scale: 105%;
    transition: 100ms ease;
}

nav li:not(:hover) {
    scale: 100%;
    transition: 100ms ease;
}

nav li:first-child {
    margin-left:0em;
    margin-right: auto;
}

nav li:last-child {
    margin-right: 1em;
}

nav img {
    width: 50px;
    height: auto;
    margin-top: 10px;
    margin-right: 10px;
}

.intro img{
    object-fit: cover;
    width: 100vw;
    height: auto;
    position: relative;
}

.top-centered-text h1{
    font-size: 9rem;
    font-family: 'recoleta', 'recoleta','Times New Roman', Times, serif;
    font-style: bold;
    text-align: center;
    position: absolute;
    top: 13%;
    left: 16%;
    -webkit-text-stroke: 3px var(--primary-color);
    color: var(--base-color);
    text-shadow: 2px 2px 4px black;
}

.top-centered-text h2{
    font-size: 4rem;
    font-family: 'cooper', 'recoleta','Times New Roman', Times, serif;
    font-style: bold;
    text-align: center;
    position: absolute;
    top: 33%;
    left: 24%;
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
    font-style: italic;

}

.about-me img {
    object-fit: cover;
    width: 100vw;
    height: auto;
    position: absolute;
    display: block;
    top: 15%;
    transform: translate(0%, 40%);
}

h2 {
    font-family: 'recoleta','Times New Roman', Times, serif;
}

html {
    height: 100vh;

}



.intro {
    transform: translateZ(-1000px);
}

.about-me-box {
    display: flex;
}

.about-me-box img {
    max-width: 30vw;
    top: 45%;
    left: 10%;
}


.about-me-text{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 55vw;
    left: 43%;
    color: whitesmoke;
    transform: translate(0%, -30%);
}

.about-me-text h2{
    font-family: 'cooper','Times New Roman', Times, serif;
    font-style: none;
    color: whitesmoke;
    text-shadow: 1px 1px 4px black;
    margin: 0;
    padding: 0;
}

.about-me-title {
    font-size: 5rem;
    text-decoration: underline;
    text-decoration-thickness: 6px;
    margin-bottom: 30px;
    font-style: italic;
}

.about-me-body {
    font-size: 2rem;
}

.socials {
    color: var(--primary-color);
    text-shadow: 1px 1px 2px black;
    transform: translate(0,-125%);
    text-align: center;
    font-style: italic;
    font-size: 2.5rem;
    width: 100vw;

}

.about-me-box img:hover{
    scale: 1.025;
    transition: 100ms ease;
}

.about-me-box img:not(:hover) {
    scale: 1;
    transition: 100ms ease;
}

.photo-dump {
    width: 100vw;
    height: auto;
    margin: 0;
    background-color: #dbbcbf;
}



/*.about-me, .intro {
    width: 100%;
    min-height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.intro::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: url("assets/background-img.png") top center;
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
    filter: blur(2px);
}

.about-me {

} */